// Prism.js
pre, code {
  font-size: 0.9rem;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  border-radius: 4px;
}
:not(pre) > code[class*="language-text"], pre[class*="language-text"] {
  word-break: break-all;
  padding: 0.2rem 0.4rem;
}
